## Build results
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
packages/
*.nupkg
*.snupkg

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## Rider / VS Code (optional)
.idea/
.vscode/